package $packageName;

import java.util.Map;
import static java.lang.Math.*;
import static com.alibaba.simpleEL.TypeUtils.*;

public class $className implements Expr {
 	public Object eval(Map<String, Object> ctx) {
		return ($expression) ;
 	}
}
